<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  {% block css %}
    <link rel="stylesheet" href="https://the.missing.style/" />
  {% endblock %}
</head>
<body>
  <main>
    {{ content | safe }}
  </main>
</body>
</html>
