<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My first page</title>
  {% block css %}
    <link rel="stylesheet" href="style.css" />
  {% endblock %}
</head>
<body>
  <header id="navigation" class="p-navigation is-dark">
    <div class="l-full-width">
      <div class="l-start">
        <div class="p-navigation__tagged-logo">
          <a class="p-navigation__link" href="#">
            <span class="p-navigation__logo-title">lcscosta</span>
          </a>
        </div>
        <a href="#navigation" class="p-navigation__toggle--open" title="menu">Menu</a>
        <a href="#navigation-closed" class="p-navigation__toggle--close" title="close menu">Close menu</a>
      </div>

      <nav class="l-end" aria-label="Example main">
        <ul class="p-navigation__items">
          <li class="p-navigation__item">
            <a class="p-navigation__link" href="/">Home</a>
          </li>
          <li class="p-navigation__item">
            <a class="p-navigation__link" href="/blog">Blog</a>
          </li>
          <li class="p-navigation__item">
            <a class="p-navigation__link" href="/projects">Projects</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>
  {{ content | safe }}
</body>
</html>
