<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  <link rel="icon" type="image/x-icon" href="/assets/circle-radiation.svg">
  <link rel="stylesheet" href="https://unpkg.com/missing.css@1.1.1"/>
</head>
<body>
  <header>
    <h1>
      <span class="allcaps">LCSCOSTA<wbr></span> 
      <sub-title>Lucas Murilo da Costa</sub-title>
    </h1>
    <nav>
      <p class="tool-bar">
      <a href="/blog/">Blog</a>
      <a href="/projects/">Projects</a>
      <a href="/about/">About</a>
      <a href="https://github.com/lcscosta">GitHub</a>
    </nav>
  </header>
  <main>
    {{ content }}
  </main>
</body>
</html>
